[submodule "vkryl/core"]
	path = vkryl/core
	url = https://github.com/TGX-Android/X-Core.git
[submodule "vkryl/android"]
	path = vkryl/android
	url = https://github.com/TGX-Android/X-Android.git
[submodule "neodiX42/ton4j"]
	path = neodiX42/ton4j
	url = https://github.com/Arseny271/ton4j.git
	branch = android-wallet
[submodule "app/jni/tonblockchain/ton"]
	path = app/jni/tonblockchain/ton
	url = https://github.com/ton-blockchain/ton.git
